<%- include('partials/header.ejs') %>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% collections.forEach(function(collection){ %>
        <div class="col">
            <div class="card shadow-sm">
                <img src="<%= collection.image %>" class="card-img-top" width="100%">
                <div class="card-body">
                    <h4 class="card-title"><%= collection.name %> </h4>
                    <p class="card-text"><%= collection.date %></p>
                    </div>
                </div>
            </div>
        <% }); %>
        
       </div>
     </div>
    </div>
</div>

 

<%- include('partials/footer.ejs') %>