<%- include('partials/header.ejs') %>
<a href="/Movie/TicketMovie">
<button type="button" class="btn btn-primary" style="width:200px;margin-left: 200px;">
  <i class="las la-ticket-alt"></i> | Get Ticket
</button>
</a>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action='/Movie' method="POST">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ticket Booking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="MovieSlide">
          <div class="MovieSlideImg">
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </form>
    </div>
  </div>
</div>
<% collections.forEach(function(collection){ %>
  <div id="movie-card" class="card mb-3" style="max-width: 80%; margin-left: 12%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= collection.image %>" style="max-width: 60%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1><%= collection.name %></h1></div>
          <h3><%= collection.category %></h3>
          <p>Release Date:<%= moment(collection.date).format('DD-MM-YYYY') %></p>
          <p><%= collection.desc %></p>
        </div>
      </div>
    </div>
  <% }); %>

  
  



 

