<%- include('partials/header.ejs') %>
<a href="/Movie/TicketMovie">
<button type="button" class="btn btn-primary" style="width:200px;margin-left: 200px;">
  <i class="las la-ticket-alt"></i> | Get Ticket
</button>
</a>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action='/Movie' method="POST">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ticket Booking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="MovieSlide">
          <div class="MovieSlideImg">
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </form>
    </div>
  </div>
</div>
<% collections.forEach(function(collection){ %>
<div class="card_container" data-offset="2">
    <div class="pg">
      <img src="<%= collection.image %>">
    </div>
    <div class="card">
      <div class="shine"></div>
      <div class="text-block">
        <h1 style="text-decoration: none;"><%= collection.name %></h1></div>
        <h3><%= collection.category %></h3>
        <p>Release Date:<%= moment(collection.date).format('DD-MM-YYYY') %></p>
        <p>
          <%= collection.desc %>
        </p>
      </div>
     
    </div>
  </div>
  <% }); %>

  
  



 

