<%- include('partials/header.ejs') %>
<h2 id="Title1">Now Showing</h2>
<hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">
<% NowShowing.forEach(function(NowShowing){ %>
<div class="NowShowing">
      <img src="<%= NowShowing.img %>" alt="Indiana Jones1" height="500px" >
    <div class="Showingdesc">
      <p><%= NowShowing.name %></p>
      <p class="releaseDate"><%= NowShowing.desc %></p>
    </div>
  </div>
 <% }); %>
 

<%- include('partials/footer.ejs') %>